#project_card_text {
    content: '';
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.65);
    transform: scale(0);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s linear 0.02s;
}

#project_card_container>img {
    transition: all 0.1s ease-out;
}

#project_card_container:hover img {
    transform: scale(1.1);
}

#project_card_container:hover #project_card_text {
    transform: scale(1);
    bottom: 0;
}