*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vertical-timeline-element-date {
    color: black;
}

#about_img {
    height: 24rem;
    position: relative;
    filter: grayscale(1);
}

#about_img[data-theme-color='#F76E11'] {
    border: 2px solid #F76E11;
}

#about_img[data-theme-color='#6F38C5'] {
    border: 2px solid #6F38C5;
}

#about_img[data-theme-color='#FFB200'] {
    border: 2px solid #FFB200;
}

#about_img[data-theme-color='#1CD6CE'] {
    border: 2px solid #1CD6CE;
}

#about_img[data-theme-color='#B33030'] {
    border: 2px solid #B33030;
}

#about_img[data-theme-color='#E60965'] {
    border: 2px solid #E60965;
}

#about_img>img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -5%;
    left: -10%;
    object-fit: cover;
    object-position: center;
}

#about_img:hover {
    transition: all 0.5s ease;
    filter: grayscale(0);
}

#about_img:hover img {
    top: 0;
    left: 0;
}